.project-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.project-card {
    position: relative;
    display: block;
    border: 1px solid var(--line);
    border-radius: var(--corner-radius);
    padding: 1.7rem 1.2rem;
    background-color: var(--bg-secondary);
}

.project-card .status {
    color: var(--status-color);
    letter-spacing: 0.12em;
    width: fit-content;
    font-weight: 600;

    border-radius: var(--corner-radius);
    padding: 0 1rem;
    background-color: color-mix(in srgb, var(--status-color) 10%, transparent);
}

.project-card-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.project-card-description {
    font-weight: 400;
    color: var(--text-secondary)
}

.project-card-tags {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.project-card-tag {
    color: var(--text-alt);
    border: 1px solid var(--line);
    width: fit-content;
    padding: 0 0.7rem;
    border-radius: var(--corner-radius);
    font-weight: 600;
}

.status-active {
    --status-color: #2b7f2a;
}

.status-upcoming {
    --status-color: #307787;
}

.status-experimental {
    --status-color: #673087;
}



.project-card:hover,
.project-card:focus-visible {
    animation: card-hover 0.2s ease;
    animation-fill-mode: both;
}

@keyframes card-hover {
    from {
        transform: translateY(0);
        box-shadow: none;
    }

    to {
        transform: translateY(-6px);
        box-shadow: 0 5px 20px var(--line);
    }
}